<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Threshold>80</Threshold>
					<ThresholdType>line</ThresholdType>
					<ThresholdStat>average</ThresholdStat>
					<Include>[CDRS.Domain]*,[CDRS.Application]*</Include>
					<Exclude>[CDRS.Web]*,[CDRS.Infrastructure]*,[CDRS.Tests]*</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>